@import
      url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import
      url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
      background:rgb(33,33,33);
      padding-left:0px;
      padding-right:0px;
}
h1 {
      color:white;
      font-family:'Raleway',strong;
      font-size:95px;
      padding:10px;
}
h2 {
      color:teal;
      background:rgb(2,2,2);
      font-family:'Raleway',strong;
      font-size:55px;
      text-align:center;
      padding:60px;
}
h3 {
      color:teal;
      background:rgb(2,2,2);
      font-family:'Raleway',strong;
      font-size:55px;
      text-align:center;
      padding:20px;
}
p {
      color:white;
      font-family:'Lato', sans-serif;
      font-size:30px;
      font-weight:400;
      padding-right:100px;
      text-align:justify;
      line-height:1.5em;
}
a {
      color:lightblue;
      font-family:'Lato', sans-serif;
      font-size:25px;
}
img.left {
      float:left;
      align.
      padding-right:50px;
      padding-left:100px;
}
.links {
      padding:100px;
}
.A {
      padding:100px;
}
#header {
      background:rgb(2,2,2);
      padding:5px;
}
td {
      padding:20px;
      text-align:left;
}
li{
      text-align:center;
}
